@page "/esp32"
@inject IJSRuntime JS
@using BlazorApp1.MqttComponent
@using static BlazorApp1.MqttComponent.Mqtt

<MsgBox @ref="_msgbox"></MsgBox>
<Mqtt @ref="_mqtt"
	  OnConnectedCallback="@(()=>
{
	Console.WriteLine("连接成功");
	Subscribe();
	Publish("read_LED_state",null);
	Publish("get_online_state",null);
})"
	  OnReceivedCallback="OnReceive"
	  OnConnectFailCallback="@(()=>
{
	Console.WriteLine("连接失败");
})" />

<div id=mainbox>
	<div>
		<h1>@ClientId</h1>
		<p>传感器温度：@_temperature</p>
		<p>来自控制器：@Log</p>
		<img @onclick="OnButtonClick" class="imgButton" src=@ImgUrl />
	</div>
	<table>
		<tr>
			<td>在线状态指示灯：</td>
			<td>
				<div class=lightbox>
					<div class=@LightClass></div>
				</div>
			</td>
		</tr>
	</table>
</div>
