h1
{
    color: blue;
}

table, th, tr, td {
    margin-top: 1em;
    border: 2px;
    border-color: blue;
    border-style: solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align:center;
}


