@page "/login"


<div>
	<MsgBox @ref="_msgbox"></MsgBox>

	<table>
		<caption>登录</caption>
		<tr>
			<td>用户名：</td>
			<td><input @bind="Username" type=text /></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input @bind="Password" type="password" /></td>
		</tr>
		<tr>
			<td colspan=2>
				<button @onclick="LoginButton">登录</button>
			</td>
		</tr>
	</table>
</div>
